footer {
  background-color:var(--backgroundColorHeader);
}
footer img {
  width: 30px;
}
footer a, footer span {
  display: inline-block;
  text-decoration: none;
  list-style: none;
  padding: 2px;
  margin: 2px;
  color:var(--colorTextSoftGrey);
  font-size: 1.6rem;
}
footer ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.footer__SocialNetworks {
  grid-area: SocialNetworks;
  padding: 10px;
  display: inline-block;
}
.footer__BackFooter {
  grid-area: BackFooter;
  padding: 10px;
  display: inline-block;
  justify-self: right;
}
.footer__ResourcesDiv {
  grid-area: ResourcesDiv;
  padding: 10px;
}
.footer__ResourcesDiv span {
  grid-area: ResourcesSpan;
  color:var(--colorTextHardGrey);
}
.footer__ResourcesUl01 {
  grid-area: ResourcesUl01;
}
.footer__ResourcesUl02 {
  grid-area: ResourcesUl02;
}
.footer__ResourcesUl03 {
  grid-area: ResourcesUl03;
}
.footer__MadeBYEpicGamesDiv {
  grid-area: MadeBYEpicGamesDiv;
  padding: 10px;
}
.footer__MadeBYEpicGamesDiv span {
  grid-area: MadeBYEpicGamesSpan;
  display: inline-block;
  color:var(--colorTextHardGrey);
}
.footer__MadeBYEpicGamesUl01 {
  grid-area: MadeBYEpicGamesUl01;
}
.footer__MadeBYEpicGamesUl02 {
  grid-area: MadeBYEpicGamesUl02;
}
.footer__EpicGamesInc {
  grid-area: EpicGamesInc;
  color:var(--colorTextHardGrey);
  padding: 20px;
  padding-top: 5px;
  padding-bottom: 10px;
}
.footer__TermsUl {
  grid-area: TermsUl;
  text-align: center;
}

.footer__LogoEpicUnreal {
  grid-area: LogoEpicUnreal;
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  padding: 10px;
  align-items: center;
  justify-items: center;
  background-color:var(--backgroundColorHeader);
}
.footer__LogoEpicUnreal img{
  justify-self: end;
}
.footer__LogoEpicUnreal a{
  justify-self: start;
}
.footer__ResourcesDiv {
  display: grid;
  grid-template: 30px 1fr / 170 170px 170px;
  grid-template-areas: ' ResourcesSpan . . '
                       ' ResourcesUl01 ResourcesUl02 ResourcesUl03' ; 
}
.footer__MadeBYEpicGamesDiv {
  display: grid;
  grid-template: 30px 1fr / 170px 170px  ;
  grid-template-areas: ' MadeBYEpicGamesSpan .'
                       ' MadeBYEpicGamesUl01 MadeBYEpicGamesUl02';
}

footer  {
  display: grid;
  grid-template: 50px 120px 160px 1fr 1fr 1fr  / 200px 200px 1fr ;
  grid-template-areas: 'SocialNetworks  . BackFooter'
                       'ResourcesDiv ResourcesDiv . '
                       'MadeBYEpicGamesDiv MadeBYEpicGamesDiv . '
                       'EpicGamesInc EpicGamesInc EpicGamesInc '
                       'TermsUl TermsUl TermsUl '
                       'LogoEpicUnreal LogoEpicUnreal LogoEpicUnreal ';  
  background-color:#2a2a2a;
  /* height: 1000px; */
}