
:root {
    /* Colors */
    --backgroundColorHeader: #2a2a2a;
    --backgroundColorFooter: #333;
    --colorTextHardGrey: #ccc;
    --colorTextSoftGrey: rgb(112, 112, 112);;
    --colorTextSoftBlue: #337ab7;;
    --blue: #0078f2;
    --white: #fff;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  html {
    font-size: 62.5%;
    background-color: red;
    /* font-family: "DM Sans", sans-serif; */
}
  header {
    width: 100vw;
    height: 50px;
    background-color:var(--backgroundColorHeader);
    z-index: 100;
}
  .section__Animation {
    width: 100vw;
    z-index: 50;
}
footer {
  width: 100vw;
  height: 200px;
  position: absolute;
  top: 100vh ;
  z-index: 100;
}
.section__Cookies {
  width: 100vw;
  height: 190px;
  background-color: rgb(199, 188, 188);
  position: absolute;
  top: calc(100vh - 180px);
  z-index: 150;
}